    <label><!-- satisfy css --></label>
    <input class="button" type="submit" name="save" value="Save" />
    <input class="button" type="reset" value="Reset" />
    [% IF object_id && !no_delete %]
        <input class="button" type="submit" name="_delete" value="Delete"
            onclick="if(confirm('Really delete?')){
                        YAHOO.util.Dom.get('x-tunneled-method').value='DELETE';
                        return true; } else { return false; }" />
    [% END %]
