[% # global vars, settings, etc.
    DateTimeFormat  = '%Y-%m-%d %H:%M:%S';
    YUIBaseURL      = 'http://yui.yahooapis.com';
    YUIVersion      = '2.6.0';
    ExtBaseURL      = 'http://static.msi.umn.edu/extjs';
    ExtVersion      = '2.2';
    LGBaseURL       = 'http://static.msi.umn.edu/livegrid';
    LGVersion       = 'trunk';
    ThisIsDefTTConfig = 1;
    LIVEGRID_FORM_SIZE = 7;
%]

