<script type="text/javascript">
/* <![CDATA[ */
    if (YAHOO.crud.historyList && YAHOO.crud.historyList.length > 0) {
        YAHOO.crud.init_histories();    // must come after ALL History modules are registered
    }
/* ]]> */    
</script>
